{% extends 'donor.html' %}
{% load static %}
{% block content %}
{%if food_details%}
<section style=" width: 100%;">
    <div class="container">
    {% for detail in food_details %}
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="{{ detail.food.image.url }}"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                    <h4>User:{{detail.user_email}}</h4>
                  <h5>{{ detail.food.name }}</h5>
                
                  <div class="mt-1 mb-0 text-muted small">
                   {{ detail.food.description }}
                  </div>
                
                  <p class="text-truncate mb-4 mb-md-0">
                  {{ detail.food.pickup_address }}
                  </p>
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">{{ detail.food.expiry_date }}</h4>

                  </div>
                  <h6 class="text-success">Expiry Date</h6>
                  <div class="d-flex flex-column mt-4">
                    <a href="/accept-request/{{ detail.req_id }}" class="btn btn-primary btn-sm" role="button" onclick="showalert('request accepted successfuly')">Accept</a>
                    <a href="/reject-request/{{ detail.req_id }}" class="btn btn-primary btn-sm mt-2" role="button" onclick="showalert('request rejected successfuly')">Reject</a>
                    <script>
                        function showalert(msg){
                            alert(msg)
                        }
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
   
    </div>
  </section>
{%else%}
<h1>No Notifications Found</h1>
{%endif%}
{% endblock %}
