{% extends 'user.html' %} 
{% load static %} 

{% block content %}
  {% if requested_food_details %}
    <section style="width: 100%">
      <div class="container">
        {% for item in requested_food_details %}
          <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
              <div class="card shadow-0 border rounded-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                      <img src="{{ item.food_item.image.url }}" class="w-100" />
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-6">
                      <h4>Email: {{ item.food_item.donor.email }} &nbsp;</h4>
                      <h5>{{ item.food_item.name }}</h5>
                      <div class="mt-1 mb-0 text-muted small">
                        {{ item.food_item.description }}
                      </div>
                      <p class="text-truncate mb-4 mb-md-0">
                        {{ item.food_item.pickup_address }}
                      </p>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                      <div class="d-flex flex-row align-items-center mb-1">
                        <h4 class="mb-1 me-1">{{ item.food_item.expiry_date }}</h4>
                      </div>
                      <h6 class="text-success">Expiry Date</h6>
                      <div class="d-flex flex-column mt-4">
                        {% if item.status == 'accepted' %}
                          <button class="btn btn-primary btn-sm mt-2">
                            {{ item.status }}
                          </button>
                          <span>
                            Request is accepted. Please collect the food from pickup address or contact donor for further communication.
                          </span>
                        {% else %}
                          <button class="btn btn-primary btn-sm mt-2">
                            {{ item.status }}
                          </button>
                          <span>
                            Your request is sent to the Donor please wait for user confirmation  
                          </span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  {% else %}
    <h1>No Cart Items Found!!</h1>
  {% endif %}
{% endblock %}
