{% extends 'user.html' %} {%load static%} {% block content %} {%if foods%}
<section style="width: 100%">
  <select name="sort_option" id="sort_option" onchange="handleSortOption()">
    {% for option in sorting_options %}
        <option value="{{ option }}">{{ option }}</option>
    {% endfor %}
</select>

<script>
    function handleSortOption() {
        var selectElement = document.getElementById("sort_option");
        var selectedOption = selectElement.options[selectElement.selectedIndex].value;

        if (selectedOption === "All foods") {
            window.location.href = "/user-food-list";
        } else if (selectedOption === "Sort by date") {
            window.location.href = "/sort-by-date";
        }
    }
</script>

  <div class="container mt-2">
    {%for i in foods%}
    <div class="row justify-content-center mb-3">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img src="{{i.image.url}}" class="w-100" />
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h4>Email:{{i.donor.email}} &nbsp;</h4>
                <h5>{{i.name}}</h5>

                <div class="mt-1 mb-0 text-muted small">{{i.description}}</div>

                <p class="text-truncate mb-4 mb-md-0">{{i.pickup_address}}</p>
              </div>
              <div
                class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
              >
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">{{i.expiry_date}}</h4>
                </div>
                <h6 class="text-success">Expiry Date</h6>
                <div class="d-flex flex-column mt-4">
                  <a
                    href="/viewfood/{{i.id}}"
                    class="btn btn-primary btn-sm"
                    role="button"
                    >view</a
                  >
                  <a
                    href="/sendrequest/{{i.id}}"
                    class="btn btn-primary btn-sm mt-2"
                    onclick="sendRequest()"
                    role="button"
                    >Send request</a
                  >
                  <script>
                    function sendRequest() {
                      alert(
                        "Request has been sent successfully and waiting for approval"
                      );
                    }
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</section>
{%else%}
<h1>No Foods Found!!</h1>
{%endif%} {% endblock %}
